<div class="contains">
    <div class="row mb-4">
        <div class="col-md-3" style="display: flex; height: 40px;white-space:nowrap;margin-bottom: 8px;">
            <label class="col-form-label fw-bold fs-6" style="margin-right: 20px;"><span>From Date:</span></label>
            <input disabled type="text" class="form-control form-control-lg " value="Start Date" />
        </div>

        <div class="col-md-3 " style="display: flex; height: 40px; white-space:nowrap;margin-bottom: 8px; ">
            <label class="col-form-label  fw-bold fs-6" style="margin-right: 20px;">To Date: </label>
            <input disabled type="text" class="form-control form-control-lg " value="End Date" />
        </div>

        <div class="col-md-6" style="display: flex; height: 60px;white-space:nowrap;margin-bottom: 8px;">
            <input disabled type="text" class="form-control form-control-lg " style="height: 40px;"
                value="Search with pr no/DEPARTMENT" />
            <button class="btn btn-lg fw-bold  btn-primary" style="margin-left:8px;height: 45px; ">Search</button>
        </div>

    </div>
</div>

<div class="card" *ngIf="replytype=='1'">
    <div class="card-body">
        <kendo-grid class="fixed-header" [columnMenu]="{ filter: true }" [groupable]="true" [data]="gridView"
            [group]="state.group" [filter]="state.filter" [filterable]="false" [reorderable]="true" [resizable]="true"
            [skip]="state.skip" [pageSize]="pageSize" [pageable]="true" (dataStateChange)="onStateChange($event)"
            [sortable]="{
    allowUnsort: true,           mode: 'multiple' }" [sort]="state.sort" (dataStateChange)="onStateChange($event)">
            <ng-template kendoGridToolbarTemplate>
                <div class="excel-export">
                    <button type="button" kendoGridExcelCommand class="btn btn-primary btn-sm" icon="file-excel">Export
                        to Excel</button>
                </div>
            </ng-template>
            <kendo-grid-column [filterable]="false" field="sno" title="SR NO" [width]="110" [headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    {{rowIndex+1}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column title="ACTIONS" [width]="110" [headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container>
                        <div ngbDropdown autoClose="'outside'" container="body">
                            <button ngbDropdownToggle class="btn btn-sm fw-bold" type="button"
                                data-bs-auto-close="outside">&nbsp; &nbsp;&nbsp;&nbsp;<span
                                    class="justify-content-center"
                                    [inlineSVG]="'../../../../assets/media/wonder/ellipsis.svg'"></span>
                            </button>


                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li *ngFor="let value of dropdownListdata" ngbDropdownItem>
                                    <a (click)="onModelClick(value,item);" class="dropdown-item pt-0 pb-0 mt-0 mb-0">
                                        {{value}}
                                    </a>
                                </li>
                            </ul>
                        </div>


                    </ng-container>
                </ng-template>
            </kendo-grid-command-column>

            <kendo-grid-command-column title="PR NO" [width]="150" field="PR No" [headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container>
                        <a class="link-primary text-decoration-underline text-center" (click)="onModelClick('Lines',item);">{{item['PR
                            No']}}
                        </a>

                    </ng-container>
                </ng-template>


            </kendo-grid-command-column>

            <kendo-grid-column title="STATUS" [width]="columnWidth" [headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container>
                        <span [ngClass]="showBadgeStatusColorClass(item.Status)" class="badge">{{item.Status}}</span>
                    </ng-container>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="PR Description" title="PR DESCRIPTION" [width]="columnWidth" [headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Created Date" title="CREATED DATE" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Site" title="SITE" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Project ID" title="PROJECT ID" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <!-- <kendo-grid-column field="PROJECT_NAME" title="PROJECT ID" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column> -->
            <kendo-grid-column field="Department" title="DEPARTMENT" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="PR Type" title="PR TYPE" [width]="columnWidth"[headerClass]="headerStyle"> </kendo-grid-column>
            <kendo-grid-column field="PR Sub Type" title="PRSUBTYPE" [width]="columnWidth"[headerClass]="headerStyle"> </kendo-grid-column>
            <kendo-grid-column field="Requested By" title="REQUESTED BY" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Total Value" title="TOTAL VALUE" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Assign To" title="ASSIGN TO" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>

            <kendo-grid-column field="History" title="HISTORY" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>

















            <!-- <kendo-grid-command-column title="History" [width]="150">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_2">History</button>
                    </ng-container>
                </ng-template>


            </kendo-grid-command-column> -->
            <!-- <kendo-grid-command-column title="Action" [width]=" checkMobileBrowser()?180:300">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container *ngIf="!checkMobileBrowser()">
                        <button class="btn btn-sm fw-bold btn-secondary me-5" (click)="editHandler(item)">Edit</button>
                        <button class="btn btn-sm fw-bold btn-danger" (click)="removeHandler(item)">Remove</button>
                    </ng-container>
                    <ng-container ngbDropdown *ngIf="checkMobileBrowser()">
                        <button ngbDropdownToggle class="btn icon-btn dropdown-toggle p-0" type="button">
                            <img src="assets/media/wonder/elispe_menu.svg">
                        </button>

                        <ul class="dropdown-menu" ngbDropdownMenu>
                            <li ngbDropdownItem>
                                <a class="dropdown-item">
                                    <img src="assets/media/wonder/edit.svg">
                                    Edit
                                </a>
                            </li>
                            <li ngbDropdownItem>
                                <a class="dropdown-item" (click)="removeHandler(item)">
                                    <img src="assets/media/wonder/trash.svg">
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </ng-container>
                </ng-template>
            </kendo-grid-command-column> -->

            <kendo-grid-excel pages fileName="PR.xlsx" [fetchData]="allData"></kendo-grid-excel>
        </kendo-grid>
    </div>
</div>



<div class="card" *ngIf="replytype==='2'">
    <div class="card-body">
        <div style="float:right; height: 25px; padding-left: 15px; ">
            <button type="button" style="background-color: red; border-radius: 5px;" (click)="backbutton()">
                <i class="bi bi-x" style='font-size:20px;'></i>
            </button>
        </div>
        <kendo-grid [groupable]="true" [data]="lineviewdata" [group]="state.group" [filter]="state.filter"
            [filterable]="true" [reorderable]="true" [resizable]="true" [skip]="state.skip" [pageSize]="pageSize"
            [pageable]="true" (dataStateChange)="onStateChange($event)" [sortable]="{
        allowUnsort: true,
        mode: 'multiple'}" [sort]="state.sort" (dataStateChange)="onStateChange($event)">
            <kendo-grid-column [filterable]="false" field="sno" title="SR NO" [width]="70">
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    {{rowIndex+1}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column title="ACTION" [width]="150">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container ngbDropdown #myDrop="ngbDropdown">
                        <div ngbDropdown autoClose="'outside'" container="body">
                            <button ngbDropdownToggle class="btn btn-sm fw-bold  btn-primary dropdown-toggle"
                                type="button">ACTIONS </button>
                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li *ngFor="let value of dropdownListdata" ngbDropdownItem>
                                    <a (click)="dropDownMenuClickHandler(value,item); myDrop.close();"
                                        class="dropdown-item pt-0 pb-0 mt-0 mb-0">
                                        {{value}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- <button class="btn btn-sm fw-bold  btn-primary">Action</button> -->

                    </ng-container>
                </ng-template>


            </kendo-grid-command-column>
            <kendo-grid-column field="PR No" title="PR NO" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="PR Description" title="PR DESCRIPTION" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Created Date" title="CREATED DATE" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Site" title="SITE" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Project ID" title="PROJECT ID" [width]="columnWidth"></kendo-grid-column>
            <!-- <kendo-grid-column field="PROJECT_NAME" title="PROJECT ID" [width]="columnWidth"></kendo-grid-column> -->
            <kendo-grid-column field="Department" title="DEPARTMENT" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="PR Type" title="PR TYPE" [width]="columnWidth"> </kendo-grid-column>
            <kendo-grid-column field="PR Sub Type" title="PRSUBTYPE" [width]="columnWidth"> </kendo-grid-column>
            <kendo-grid-column field="Requested By" title="REQUESTED BY" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Total Value" title="TOTAL VALUE" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Assign To" title="ASSIGN TO" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Status" title="STATUS" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="History" title="HISTORY" [width]="columnWidth"></kendo-grid-column>

















            <!-- <kendo-grid-command-column title="History" [width]="150">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_2">History</button>
                    </ng-container>
                </ng-template>


            </kendo-grid-command-column> -->
            <!-- <kendo-grid-command-column title="Action" [width]=" checkMobileBrowser()?180:300">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container *ngIf="!checkMobileBrowser()">
                        <button class="btn btn-sm fw-bold btn-secondary me-5" (click)="editHandler(item)">Edit</button>
                        <button class="btn btn-sm fw-bold btn-danger" (click)="removeHandler(item)">Remove</button>
                    </ng-container>
                    <ng-container ngbDropdown *ngIf="checkMobileBrowser()">
                        <button ngbDropdownToggle class="btn icon-btn dropdown-toggle p-0" type="button">
                            <img src="assets/media/wonder/elispe_menu.svg">
                        </button>

                        <ul class="dropdown-menu" ngbDropdownMenu>
                            <li ngbDropdownItem>
                                <a class="dropdown-item">
                                    <img src="assets/media/wonder/edit.svg">
                                    Edit
                                </a>
                            </li>
                            <li ngbDropdownItem>
                                <a class="dropdown-item" (click)="removeHandler(item)">
                                    <img src="assets/media/wonder/trash.svg">
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </ng-container>
                </ng-template>
            </kendo-grid-command-column> -->


        </kendo-grid>
    </div>
</div>














<div class="modal bg-white fade" tabindex="-1" id="kt_modal_2">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content shadow-none">
            <div class="modal-header">
                <h5 class="modal-title">PR Line Item for PR :PR23014419</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                    aria-label="Close">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <app-pr-modal-view></app-pr-modal-view>
            </div>
        </div>
    </div>
</div>