<div class="contains">
    <div class="row mb-4">
        <div class="col-md-3" style="display: flex; height: 40px;white-space:nowrap;margin-bottom: 8px;">
            <label class="col-form-label fw-bold fs-6" style="margin-right: 10px;"><span>From Date:</span></label>
            <input type="date" class="form-control form-control-lg " placeholder="Start Date"
                [ngModel]="startDate | date:'dd-mmm-yyy'" (ngModelChange)="dateChangeEvent($event,'startDate')" />
        </div>

        <div class="col-md-3 " style="display: flex; height: 40px; white-space:nowrap;margin-bottom: 8px; ">
            <label class="col-form-label  fw-bold fs-6" style="margin-right: 20px;">To Date: </label>
            <input type="date" class="form-control form-control-lg " placeholder="End Date"
                [ngModel]="endDate | date:'dd-mmm-yyy'" (ngModelChange)="dateChangeEvent($event,'endDate')" />
        </div>

        <div class="col-md-6" style="display: flex; height: 60px;white-space:nowrap;margin-bottom: 8px;">
            <input type="text" class="form-control form-control-lg " style="height: 40px;"
                placeholder="Search with pr no/DEPARTMENT" />
            <button class="btn btn-lg fw-bold  btn-primary" style="margin-left:8px;height: 45px; ">Search</button>
        </div>

    </div>
</div>

<div class="card">
    <div class="card-header">
        <!--begin::Card title-->
        <div class="card-title">
            <h2 class="fw-bold">All PR</h2>
        </div>
        <!--begin::Card title-->

        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <div class="m-0">
                <!--begin::Menu toggle-->
                <a href="#" class="btn btn-sm btn-secondary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                   <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                   <span class="svg-icon svg-icon-6 svg-icon-muted me-1">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor"></path>
                      </svg>
                   </span>
                   <!--end::Svg Icon-->               
                   Filter
                </a>
                <!--end::Menu toggle-->
                <!--begin::Menu 1-->
                <div class="menu menu-sub menu-sub-dropdown w-250px w-md-500px" data-kt-menu="true" id="kt_menu_6406db15e3930">
                   <!--begin::Header-->
                   <div class="px-7 py-5">
                      <div class="fs-5 text-dark fw-bold">Filter By</div>
                   </div>
                   <!--end::Header-->
                   <!--begin::Menu separator-->
                   <div class="separator border-gray-200"></div>
                   <!--end::Menu separator-->
                   <!--begin::Form-->
                   <div class="px-7 py-5">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label fw-bold fs-6">From:</label>
                            <input type="date" class="form-control form-control-lg " placeholder="Start Date" />
                        </div>
                
                        <div class="col-md-6">
                            <label class="col-form-label  fw-bold fs-6">To:</label>
                            <input type="date" class="form-control form-control-lg " placeholder="End Date" />
                        </div>
                    </div>
                   </div>
                   
                   <div class="px-7 py-5">
                      <!--begin::Input group-->
                      <div class="mb-10">
                         <!--begin::Label-->
                         <label class="form-label fw-semibold">PR No.:</label>
                         <!--end::Label-->
                         <!--begin::Input-->
                         <div>
                            <select class="form-select form-select-solid select2-hidden-accessible" data-kt-select2="true" data-placeholder="Select option" data-dropdown-parent="#kt_menu_6406db15e3930" data-allow-clear="true" data-select2-id="select2-data-7-klo7" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                               <option data-select2-id="select2-data-9-9ohn"></option>
                               <option value="1">Approved</option>
                               <option value="2">Pending</option>
                               <option value="2">In Process</option>
                               <option value="2">Rejected</option>
                            </select>
                            <span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-8-nx81" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-j0x6-container" aria-controls="select2-j0x6-container"><span class="select2-selection__rendered" id="select2-j0x6-container" role="textbox" aria-readonly="true" title="Select option"><span class="select2-selection__placeholder">Select option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                         </div>
                         <!--end::Input-->
                      </div>
                      <!--end::Input group-->
                      <!--begin::Input group-->
                      <div class="mb-10">
                             <!--begin::Label-->
                         <label class="form-label fw-semibold">Department:</label>
                         <!--end::Label-->
                         <!--begin::Input-->
                         <div>
                            <select class="form-select form-select-solid select2-hidden-accessible" data-kt-select2="true" data-placeholder="Select option" data-dropdown-parent="#kt_menu_6406db15e3930" data-allow-clear="true" data-select2-id="select2-data-7-klo7" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                               <option data-select2-id="select2-data-9-9ohn"></option>
                               <option value="1">Approved</option>
                               <option value="2">Pending</option>
                               <option value="2">In Process</option>
                               <option value="2">Rejected</option>
                            </select>
                            <span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-8-nx81" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-j0x6-container" aria-controls="select2-j0x6-container"><span class="select2-selection__rendered" id="select2-j0x6-container" role="textbox" aria-readonly="true" title="Select option"><span class="select2-selection__placeholder">Select option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                         </div>
                         <!--end::Input-->
                      </div>
                      <!--end::Input group-->
                      <!--begin::Actions-->
                      <div class="d-flex justify-content-end">
                         <button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2" data-kt-menu-dismiss="true">Reset</button>
                         <button type="submit" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">Apply</button>
                      </div>
                      <!--end::Actions-->
                   </div>
                   <!--end::Form-->
                </div>
                <!--end::Menu 1-->        
             </div>
        </div>
        <!--end::Card toolbar-->
    </div>
    <div class="card-body">
        <kendo-grid class="fixed-header" [loading]="isLoading" [columnMenu]="{ filter: true }" [groupable]="true"
            [data]="gridView" [group]="state.group" [filter]="state.filter" [filterable]="false" [reorderable]="true"
            [resizable]="true" [skip]="state.skip" [pageSize]="pageSize" [pageable]="true"
            (dataStateChange)="onStateChange($event)" [sortable]="{
    allowUnsort: true,           mode: 'multiple' }" [sort]="state.sort" (dataStateChange)="onStateChange($event)">
            <ng-template kendoGridToolbarTemplate>
                <div class="excel-export">
                    <button type="button" kendoGridExcelCommand class="btn btn-primary btn-sm" icon="file-excel">Export
                        to Excel</button>
                </div>
            </ng-template>
            <kendo-grid-column [filterable]="false" field="sno" title="SR NO" [width]="110" [headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    {{rowIndex+1}}
                </ng-template>
            </kendo-grid-column>
            <!-- <kendo-grid-command-column title="ACTIONS" [width]="110" [headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container>
                        <div ngbDropdown autoClose="'outside'" container="body">
                            <button ngbDropdownToggle class="btn btn-sm btn cs-btn-light-primary py-1 px-1"
                                type="button" data-bs-auto-close="outside">
                                <i class="fa fa-cog"></i> Actions
                            </button>

                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li *ngFor="let value of dropdownListdata" ngbDropdownItem>
                                    <a (click)="onModelClick(value,item);" class="dropdown-item pt-0 pb-0 mt-0 mb-0">
                                        {{value}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </ng-container>
                </ng-template>
            </kendo-grid-command-column> -->
            <kendo-grid-command-column [headerClass]="headerStyle" title="ACTIONS" [width]="110">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container>
                        <div ngbDropdown autoClose="'outside'" container="body">
                            <button ngbDropdownToggle class="btn btn-sm cs-btn-outline-primary px-2 py-1" type="button"
                                data-bs-auto-close="outside">
                                <i class="fa fa-cog"></i> Actions
                            </button>

                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li *ngFor="let value of dropdownListdata" ngbDropdownItem>
                                    <a (click)="onModelClick(value,item);" class="dropdown-item pt-0 pb-0 mt-0 mb-0">
                                        {{value}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- <button class="btn btn-sm fw-bold  btn-primary">Action</button> -->

                    </ng-container>
                </ng-template>
            </kendo-grid-command-column>

            <kendo-grid-command-column title="PR NO" [width]="150" field="PR No" [headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container>
                        <a class="link-primary text-decoration-underline text-center"
                            (click)="onModelClick('Lines',item,true);">{{item['pR_NUM']}}
                        </a>

                    </ng-container>
                </ng-template>


            </kendo-grid-command-column>

            <kendo-grid-column title="STATUS" [width]="columnWidth" [headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container>
                        <span [ngClass]="showBadgeStatusColorClass(item.buyerstatus)"
                            class="badge">{{item.buyerstatus}}</span>
                    </ng-container>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="description" [width]="columnWidth" [headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.description}}
                </ng-template></kendo-grid-column>
            <kendo-grid-column field="enterdate" title="CREATED DATE" [width]="columnWidth" [headerClass]="headerStyle">

            </kendo-grid-column>
            <kendo-grid-column field="siteName" title="SITE" [width]="columnWidth" [headerClass]="headerStyle">

            </kendo-grid-column>
            <kendo-grid-column field="projecT_NAME" title="PROJECT ID" [width]="columnWidth" [headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.description}}
                </ng-template></kendo-grid-column>
            <!-- <kendo-grid-column field="PROJECT_NAME" title="PROJECT ID" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column> -->
            <kendo-grid-column field="departmentName" title="DEPARTMENT" [width]="columnWidth"
                [headerClass]="headerStyle">

            </kendo-grid-column>
            <kendo-grid-column field="prtype" title="PR TYPE" [width]="columnWidth" [headerClass]="headerStyle">

            </kendo-grid-column>
            <kendo-grid-column field="prSubType" title="PRSUBTYPE" [width]="columnWidth" [headerClass]="headerStyle">
            </kendo-grid-column>
            <kendo-grid-column field="enterby" title="REQUESTED BY" [width]="columnWidth" [headerClass]="headerStyle">

            </kendo-grid-column>
            <kendo-grid-column field="totalValue" title="TOTAL VALUE" [width]="columnWidth" [headerClass]="headerStyle">

            </kendo-grid-column>
            <kendo-grid-column field="assignBuyer" title="ASSIGN TO" [width]="columnWidth" [headerClass]="headerStyle">

            </kendo-grid-column>

            <!-- <kendo-grid-column field="History" title="HISTORY" [width]="columnWidth"
                [headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-excel pages fileName="PR.xlsx" [fetchData]="allData"></kendo-grid-excel> -->
        </kendo-grid>
    </div>
</div>



<div class="card" *ngIf="replytype==='2'">
    <div class="card-body">
        <div style="float:right; height: 25px; padding-left: 15px; ">
            <button type="button" style="background-color: red; border-radius: 5px;" (click)="backbutton()">
                <i class="bi bi-x" style='font-size:20px;'></i>
            </button>
        </div>
        <kendo-grid [groupable]="true" [data]="lineviewdata" [group]="state.group" [filter]="state.filter"
            [filterable]="true" [reorderable]="true" [resizable]="true" [skip]="state.skip" [pageSize]="pageSize"
            [pageable]="true" (dataStateChange)="onStateChange($event)" [sortable]="{
        allowUnsort: true,
        mode: 'multiple'}" [sort]="state.sort" (dataStateChange)="onStateChange($event)">
            <kendo-grid-column [filterable]="false" field="sno" title="SR NO" [width]="70">
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    {{rowIndex+1}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-command-column title="ACTION" [width]="150">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container ngbDropdown #myDrop="ngbDropdown">
                        <div ngbDropdown autoClose="'outside'" container="body">
                            <button ngbDropdownToggle class="btn btn-sm fw-bold  btn-primary dropdown-toggle"
                                type="button">ACTIONS </button>
                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li *ngFor="let value of dropdownListdata" ngbDropdownItem>
                                    <a (click)="dropDownMenuClickHandler(value,item); myDrop.close();"
                                        class="dropdown-item pt-0 pb-0 mt-0 mb-0">
                                        {{value}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- <button class="btn btn-sm fw-bold  btn-primary">Action</button> -->

                    </ng-container>
                </ng-template>


            </kendo-grid-command-column>
            <kendo-grid-column field="PR No" title="PR NO" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="PR Description" title="PR DESCRIPTION" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Created Date" title="CREATED DATE" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Site" title="SITE" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Project ID" title="PROJECT ID" [width]="columnWidth"></kendo-grid-column>
            <!-- <kendo-grid-column field="PROJECT_NAME" title="PROJECT ID" [width]="columnWidth"></kendo-grid-column> -->
            <kendo-grid-column field="Department" title="DEPARTMENT" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="PR Type" title="PR TYPE" [width]="columnWidth"> </kendo-grid-column>
            <kendo-grid-column field="PR Sub Type" title="PRSUBTYPE" [width]="columnWidth"> </kendo-grid-column>
            <kendo-grid-column field="Requested By" title="REQUESTED BY" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Total Value" title="TOTAL VALUE" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Assign To" title="ASSIGN TO" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="Status" title="STATUS" [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column field="History" title="HISTORY" [width]="columnWidth"></kendo-grid-column>

        </kendo-grid>
    </div>
</div>














<div class="modal bg-white fade" tabindex="-1" id="kt_modal_2">
    <div class="modal-dialog modal-fullscreen p-9">
        <div class="modal-content shadow-none">
            <div class="modal-header">
                <h5 class="modal-title">PR Line Item for PR :PR23014419</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                    aria-label="Close">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <app-pr-modal-view></app-pr-modal-view>
            </div>
        </div>
    </div>
</div>