<div>
    <kendo-grid [groupable]="true" [data]="gridView" [group]="state.group" [filter]="state.filter" [filterable]="true"
        [reorderable]="true" [resizable]="true" [skip]="state.skip" [pageSize]="pageSize" [pageable]="true"
        (dataStateChange)="onStateChange($event)" [sortable]="{
    allowUnsort: true,
    mode: 'multiple'}" [sort]="state.sort" (dataStateChange)="onStateChange($event)">
        <kendo-grid-column [groupable]="false" [reorderable]="false" [filterable]="false" field="sno" title="SR N0"
            [width]="70">
        </kendo-grid-column> <kendo-grid-command-column title="ACTIONS" [width]="150">
            <ng-template kendoGridCellTemplate let-item>
                <ng-container ngbDropdown #myDrop="ngbDropdown" >
                    <!-- <button class="btn btn-sm fw-bold  btn-primary">Action</button> -->
                    <button ngbDropdownToggle class="btn btn-sm fw-bold  btn-primary dropdown-toggle"
                        type="button">ACTIONS</button>
                    <ul class="dropdown-menu"  ngbDropdownMenu>
                        <li *ngFor="let value of dropdownListdata" ngbDropdownItem>
                            <a (click)="onModelClick(value,item);myDrop.close();"
                                class="dropdown-item pt-0 pb-0 mt-0 mb-0">
                                {{value}}
                            </a>
                        </li>
                    </ul>
                </ng-container>
            </ng-template>
        </kendo-grid-command-column>

        <kendo-grid-column field="prid" title="PR NO" [width]="columnWidth"></kendo-grid-column>
        <kendo-grid-column field="DESCRIPTION" title="PR DESCRIPTION" [width]="columnWidth"></kendo-grid-column>
        <kendo-grid-column field="CREATION_DATE" title="CREATED DATE" [width]="columnWidth"></kendo-grid-column>
        <kendo-grid-column field="ApprovedDate" title="APPROVED DATE" [width]="columnWidth"></kendo-grid-column>
        <kendo-grid-column field="SiteName" title="SITE" [width]="columnWidth"></kendo-grid-column>
        <!-- <kendo-grid-column field="PROJECT_NAME" title="PROJECT ID" [width]="columnWidth"></kendo-grid-column> -->
        <kendo-grid-column field="DEPARTMENTNAME" title="DEPARTMENT" [width]="columnWidth"></kendo-grid-column>
        <kendo-grid-column field="PRTYPE" title="PR TYPE" [width]="columnWidth"> </kendo-grid-column>
        <kendo-grid-column field="REQUESTED_BY" title="REQUEST BY" [width]="columnWidth"></kendo-grid-column>
        <kendo-grid-column field="TotalValue" title="TOTAL VALUE" [width]="columnWidth"></kendo-grid-column>
        <kendo-grid-column field="AssignBuyer" title="ASSIGN TO" [width]="columnWidth"></kendo-grid-column>
        <kendo-grid-column field="BUYERSTATUS" title="STATUS" [width]="columnWidth"></kendo-grid-column>
        <kendo-grid-column field="BUYERSTATUS" title="HISTORY" [width]="columnWidth"></kendo-grid-column>
        <!-- <kendo-grid-command-column title="History" [width]="150">
            <ng-template kendoGridCellTemplate let-item>
                <ng-container>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_2">History</button>
                </ng-container>
            </ng-template>


        </kendo-grid-command-column> -->
        <!-- <kendo-grid-command-column title="Action" [width]=" checkMobileBrowser()?180:300">
            <ng-template kendoGridCellTemplate let-item>
                <ng-container *ngIf="!checkMobileBrowser()">
                    <button class="btn btn-sm fw-bold btn-secondary me-5" (click)="editHandler(item)">Edit</button>
                    <button class="btn btn-sm fw-bold btn-danger" (click)="removeHandler(item)">Remove</button>
                </ng-container>
                <ng-container ngbDropdown *ngIf="checkMobileBrowser()">
                    <button ngbDropdownToggle class="btn icon-btn dropdown-toggle p-0" type="button">
                        <img src="assets/media/wonder/elispe_menu.svg">
                    </button>

                    <ul class="dropdown-menu" ngbDropdownMenu>
                        <li ngbDropdownItem>
                            <a class="dropdown-item">
                                <img src="assets/media/wonder/edit.svg">
                                Edit
                            </a>
                        </li>
                        <li ngbDropdownItem>
                            <a class="dropdown-item" (click)="removeHandler(item)">
                                <img src="assets/media/wonder/trash.svg">
                                Delete
                            </a>
                        </li>
                    </ul>
                </ng-container>
            </ng-template>
        </kendo-grid-command-column> -->


    </kendo-grid>
</div>


<div class="modal bg-white fade" tabindex="-1" id="kt_modal_2">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content shadow-none">
            <div class="modal-header">
                <h5 class="modal-title">PR Line Item for PR :PR23014419</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                    aria-label="Close">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <app-pr-modal-view></app-pr-modal-view>
            </div>
        </div>
    </div>
</div>