<div class="container-fluid overflow-auto p-0">
    <div class="card mb-5 mb-xl-10 card-gray">
        <div class="card-header cursor-pointer border-0" role="button" data-bs-target="#kt_account_profile_details"
            aria-expanded="true" aria-controls="kt_account_profile_details">
            <div class="card-title m-0">
                <span (click)="closeModel()" *ngIf="currentPage === 'Lines' || currentPage==='Both'"
                    class=" justify-content-center fullscreen-back-icon"
                    [inlineSVG]="'../../../../assets/media/wonder/arrow-left.svg'"></span>
                <h3 class="fw-bolder m-0" *ngIf="currentPage === 'Line'">PR NO : PR23014404</h3>
                <h3 class="fw-bolder m-0" *ngIf="currentPage === 'HistoryData'">{{'View PO History Data'}}</h3>
            </div>
            <div class="card-title m-0" (click)="closeModel()">
                <span class="justify-content-center " [inlineSVG]="'../../../../assets/media/wonder/cross.svg'"></span>
            </div>
        </div>
        <!-- View form Start -->
        <div class="card-body" *ngIf="currentPage === 'Form' || currentPage === 'Both' ">
            <app-pr-detail-view></app-pr-detail-view>
        </div>
        <!-- View form End -->

        <!-- Lines Grid Start -->
        <div class="card-body" *ngIf="currentPage === 'Lines' ||currentPage === 'Both'">


            <kendo-grid [data]="gridView" [columnMenu]="{ filter: true ,sort : true  }" [group]="state.group"
                [filter]="state.filter" [filterable]="false" [reorderable]="true" [resizable]="true" [skip]="state.skip"
                [pageSize]="pageSize" [pageable]="true" (dataStateChange)="onStateChange($event)" [sortable]="{
    allowUnsort: true,
    mode: 'multiple'}" [sort]="state.sort" (dataStateChange)="onStateChange($event)">
                <!-- <kendo-grid-command-column title="ACTION" [width]="150">
                    <ng-template kendoGridCellTemplate let-item>
                        <ng-container>
                            <div ngbDropdown autoClose="'outside'" container="body" #myDrop="ngbDropdown">
                                <button ngbDropdownToggle class="btn btn-sm btn cs-btn-light-primary py-1 px-1"
                                    type="button" data-bs-auto-close="outside">
                                    <i class="fa fa-cog"></i> Actions
                                </button>

                                <ul class="dropdown-menu" ngbDropdownMenu>
                                    <li *ngFor="let value of dropdownListdata" ngbDropdownItem>
                                        <a (click)="dropDownMenuClickHandler(value,item); myDrop.close();"
                                            class="dropdown-item pt-0 pb-0 mt-0 mb-0">
                                            {{value}}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </ng-container>
                    </ng-template>


                </kendo-grid-command-column> -->

                <kendo-grid-command-column [headerClass]="headerStyle" title="ACTIONS" [width]="110">
                    <ng-template kendoGridCellTemplate let-item>
                        <ng-container>
                            <div ngbDropdown autoClose="'outside'" container="body"   #myDrop="ngbDropdown">
                                <button ngbDropdownToggle class="btn btn-sm btn cs-btn-light-primary py-1 px-1" type="button"
                                    data-bs-auto-close="outside">
                                    <i class="fa fa-cog"></i> Actions
                                </button>

                                <ul class="dropdown-menu" ngbDropdownMenu>
                                    <li *ngFor="let value of dropdownListdata" ngbDropdownItem>
                                        <a (click)="dropDownMenuClickHandler(value,item); myDrop.close();" class="dropdown-item pt-0 pb-0 mt-0 mb-0">
                                            {{value}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- <button class="btn btn-sm fw-bold  btn-primary">Action</button> -->

                        </ng-container>
                    </ng-template>
                    
                  
                </kendo-grid-command-column>
                <kendo-grid-command-column headerClass="grid-header-menu" title="STATUS" [width]="120">
                    <ng-template kendoGridCellTemplate let-item>
                        <ng-container>
                            <span [ngClass]="showBadgeStatusColorClass(item.buyerstatus)"
                                class="badge">{{item.buyerstatus}}</span>
                        </ng-container>
                    </ng-template>
                </kendo-grid-command-column>



                <kendo-grid-column headerClass="grid-header-menu" field="itemcode" title="ITEM CODE"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="iteM_DESCRIPTION" title="ITEM DESCRIPTION"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="uom" title="UOM"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="quantity" title="QUANTITY"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="inProcessQUANTITY" title="IN PROCESS QUANTITY"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="usedQty" title="USED QUANITTY"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="remQty" title="REMANING QUANITTY"
                    [width]="columnWidth">
                </kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="rate" title="RATE"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="netAmount" title="AMOUNT"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="AssignBuyer" title="ASSING TO"
                    [width]="columnWidth"></kendo-grid-column>
                <!-- <kendo-grid-column headerClass="grid-header-menu" field="STATUS" title="STATUS"
                    [width]="columnWidth"></kendo-grid-column> -->
                <kendo-grid-column headerClass="grid-header-menu" field="rfqStatus" title="REQ STATUS"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="rfqno" title="REQ NO"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="poNo" title="PO NO"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header-menu" field="stateName" title="STATE"
                    [width]="columnWidth"></kendo-grid-column>

            </kendo-grid>
        </div>
        <!-- Lines Grid End -->



        <!-- View Po History Data Start -->
        <div class="card-body" *ngIf="currentPage === 'HistoryData'">
            <div class="row mb-4">
                <div class="col-md-4">
                    <label class="col-form-label fw-bold fs-6"><span>Item Code</span></label>
                    <input disabled type="text" class="form-control form-control-lg " value="10000135532" />
                </div>
                <div class="col-md-6">
                    <label class="col-form-label  fw-bold fs-6">Item Description </label>
                    <input disabled type="text" class="form-control form-control-lg "
                        value="KIT, COMPRESSOR REPAIR; TYPE: MAINTENANCE OF AUX.VALVE; MANUFACTURER PART NO: 400940.2, MANUFACTURER: KAESER" />
                </div>
            </div>
            <kendo-grid [data]="PoHistorydataGridView" [columnMenu]="{ filter: true ,sort : true  }"
                [group]="state.group" [filter]="state.filter" [filterable]="false" [reorderable]="true"
                [resizable]="true" [skip]="state.skip" [pageSize]="pageSize" [pageable]="true"
                (dataStateChange)="onStateChange($event)" [sortable]="{
    allowUnsort: true,
    mode: 'multiple'}" [sort]="state.sort" (dataStateChange)="onStateChange($event)">
                <kendo-grid-column field="Vendor_Code" title="VENDOR CODE" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-column field="Vendor_Name" title="VENDOR NAME" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-column field="PO_No" title="PO NUMBER" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-column field="PO_Confirmation_Date" title="PO CONFIRMATION DATE" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-column field="PO_Qty" title="PO QUANTITY" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-column field="UOM" title="UOM" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-column field="Unit_Price" title="UNIT PRICE" [width]="columnWidth"
                    [headerClass]="headerStyle">
                </kendo-grid-column>
                <kendo-grid-column field="Discount" title="DISCOUNT" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>


            </kendo-grid>
        </div>

        <!-- View Po History Data  End-->

    </div>

</div>