<div class="container-fluid overflow-auto p-0">
    <div class="card mb-5 mb-xl-10 card-gray">
        <div class="card-header cursor-pointer border-0" role="button" data-bs-target="#kt_account_profile_details"
            aria-expanded="true" aria-controls="kt_account_profile_details">
            <div class="card-title m-0">
                <span (click)="closeModel()" *ngIf="isFormVisible" class="justify-content-center fullscreen-back-icon"
                    [inlineSVG]="'../../../../assets/media/wonder/arrow-left.svg'"></span>
                <h3 class="fw-bolder m-0" *ngIf="!isFormVisible && !isHistoricalDataVisible">PR Line Item for PR
                    :PR23014404</h3>
                <h3 class="fw-bolder m-0" *ngIf="isHistoricalDataVisible">{{'View PO History Data'}}</h3>
            </div>
            <div class="card-title m-0" (click)="closeModel()">
                <span class="justify-content-center " [inlineSVG]="'../../../../assets/media/wonder/cross.svg'"></span>
            </div>
        </div>
        <div class="card-body" *ngIf="!isFormVisible && !isHistoricalDataVisible">


            <kendo-grid [data]="gridView" [group]="state.group" [filter]="state.filter" [filterable]="false"
                [reorderable]="true" [resizable]="true" [skip]="state.skip" [pageSize]="pageSize" [pageable]="true"
                (dataStateChange)="onStateChange($event)" [sortable]="{
    allowUnsort: true,
    mode: 'multiple'}" [sort]="state.sort" (dataStateChange)="onStateChange($event)">
                <kendo-grid-command-column title="ACTION" [width]="150">
                    <ng-template kendoGridCellTemplate let-item>
                        <ng-container ngbDropdown #myDrop="ngbDropdown">
                            <div ngbDropdown autoClose="'outside'" container="body">
                                <button ngbDropdownToggle class="btn btn-sm fw-bold  btn-primary dropdown-toggle"
                                    type="button">ACTIONS </button>
                                <ul class="dropdown-menu" ngbDropdownMenu>
                                    <li *ngFor="let value of dropdownListdata" ngbDropdownItem>
                                        <a (click)="dropDownMenuClickHandler(value,item); myDrop.close();"
                                            class="dropdown-item pt-0 pb-0 mt-0 mb-0">
                                            {{value}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- <button class="btn btn-sm fw-bold  btn-primary">Action</button> -->

                        </ng-container>
                    </ng-template>


                </kendo-grid-command-column>

                <kendo-grid-column field="LINE_NO" title="LINE NO" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="ITEM_CODE" title="ITEM CODE" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="DESCRIPTION" title="ITEM DESCRIPTION"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="ApprovedDate" title="UOM" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="QUANTITY" title="QUANTITY" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="IN_PROCESS_QUANTITY" title="IN PROCESS QUANTITY"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="USED_QUANITTY" title="USED QUANITTY"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="REMANING_QUANITTY" title="REMANING QUANITTY" [width]="columnWidth">
                </kendo-grid-column>
                <kendo-grid-column field="RATE" title="RATE" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="AMOUNT" title="AMOUNT" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="AssignBuyer" title="ASSING TO" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="STATUS" title="STATUS" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="REQ_STATUS" title="REQ STATUS" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="REQ_NO" title="REQ NO" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="PO_NO" title="PO NO" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="STATE" title="STATE" [width]="columnWidth"></kendo-grid-column>

            </kendo-grid>
        </div>

        <div class="" *ngIf="isFormVisible">
            <app-pr-detail-view></app-pr-detail-view>
        </div>

        <!-- View Po History Data -->
        <div class="card-body" *ngIf="isHistoricalDataVisible">
            <div class="row mb-4">
                <div class="col-md-4">
                    <label class="col-form-label fw-bold fs-6"><span>Item Code</span></label>
                    <input disabled type="text" class="form-control form-control-lg " value="10000135532" />
                </div>
                <div class="col-md-6">
                    <label class="col-form-label  fw-bold fs-6">Item Description </label>
                    <input disabled type="text" class="form-control form-control-lg "
                        value="KIT, COMPRESSOR REPAIR; TYPE: MAINTENANCE OF AUX.VALVE; MANUFACTURER PART NO: 400940.2, MANUFACTURER: KAESER" />
                </div>
            </div>
            <kendo-grid [data]="PoHistorydataGridView" [group]="state.group" [filter]="state.filter"
                [filterable]="false" [reorderable]="true" [resizable]="true" [skip]="state.skip" [pageSize]="pageSize"
                [pageable]="true" (dataStateChange)="onStateChange($event)" [sortable]="{
    allowUnsort: true,
    mode: 'multiple'}" [sort]="state.sort" (dataStateChange)="onStateChange($event)">
                <kendo-grid-column field="Vendor_Code" title="VENDOR CODE" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="Vendor_Name" title="VENDOR NAME" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="PO_No" title="PO NUMBER" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="PO_Confirmation_Date" title="PO CONFIRMATION DATE"
                    [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="PO_Qty" title="PO QUANTITY" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="UOM" title="UOM" [width]="columnWidth"></kendo-grid-column>
                <kendo-grid-column field="Unit_Price" title="UNIT PRICE" [width]="columnWidth">
                </kendo-grid-column>
                <kendo-grid-column field="Discount" title="DISCOUNT" [width]="columnWidth"></kendo-grid-column>


            </kendo-grid>
        </div>


    </div>

</div>