@mixin layout-classes($theme) {
    $color: map-get($theme, color);
    $foreground: map-get($color, foreground);
    $background: map-get($color, background);

    $primary: map-get($color, primary);
    $accent: map-get($color, accent);
    $warn: map-get($color, warn);
    $is-dark: map-get($color, is-dark);
  
  
    $heading: map-get($foreground, 'heading');

    .background-color{
        background-color: $heading;
    }
}