<form [formGroup]="ProductForm" class="form" (submit)="formSubmitHandler()">
  <div class="card-body border-top p-9">
    <div class="row mb-6">
      <div class="col-12">
        <label class="col-form-label required fw-bold fs-6">Product Name</label>
        <input type="text" class="form-control form-control-lg form-control-solid" placeholder="ex : Chai"
          formControlName="ProductName" value="" />
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-12">
        <label class="col-form-label fw-bold fs-6"><span class="required">Category</span></label>
        <select formControlName="Category" class="form-select form-select-solid form-select-lg fw-bold">
          <option *ngFor="let item of CategoryList" [value]="item.CategoryID">{{item.CategoryName}}</option>
        </select>
      </div>

    </div>
    <div class="row mb-6">
      <div class="col-12 mb-6">
        <label class="col-form-label fw-bold fs-6"><span class="required">Supplier Id</span></label>
        <input type="number" formControlName="SupplierID" class="form-control form-control-lg form-control-solid"
          placeholder="" value="" />
      </div>
      <div class="col-12">
        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Quantity Per Unit</span></label>
        <input type="number" formControlName="QuantityPerUnit" class="form-control form-control-lg form-control-solid"
          placeholder="" name="companySite" value="" />
      </div>
    </div>



    <div class="row mb-6">
      <div class="col-12 mb-6">
        <label class="col-form-label fw-bold fs-6"><span class="required">Unit Price</span></label>
        <input class="form-control form-control-lg form-control-solid" formControlName="UnitPrice" placeholder=""
          name="contactPhone" value="" />
      </div>
      <div class="col-12 mb-6">
        <label class="col-form-label fw-bold fs-6"><span class="required">Unit in stock</span></label>
        <input type="tel" class="form-control form-control-lg form-control-solid" formControlName="UnitsInStock"
          placeholder="" name="contactPhone" value="" />
      </div>
      <div class="col-12">
        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Unit on order</span></label>
        <input type="text" class="form-control form-control-lg form-control-solid" formControlName="UnitsOnOrder"
          placeholder="" name="companySite" value="" />
      </div>
      <div class="col-12">
        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Reorder Level</span></label>
        <input type="text" formControlName="ReorderLevel" class="form-control form-control-lg form-control-solid"
          formControlName="ReorderLevel" placeholder="" name="companySite" value=" " />
      </div>

      <div class="col-12">
        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Order date on</span></label>
        <input formControlName="FirstOrderedOn" type="date" class="form-control form-control-lg form-control-solid"
          placeholder="" />
      </div>


      <div class="d-flex align-items-center mt-3">
        <label class="form-check form-check-inline form-check-solid me-5">
          <input formControlName="Discontinued" class="form-check-input" name="communication[]" type="checkbox" />
          <span class="fw-bold ps-2 fs-6">Discountinued</span></label>

      </div>
    </div>

  </div>
  <div class="card-footer d-flex justify-content-end py-6 px-9">
    <button type="submit" class="btn btn-primary">
      <ng-container *ngIf="!isLoading">Save Changes</ng-container>
      <ng-container *ngIf="isLoading">
        <span clas="indicator-progress" [style.display]="'block'">
          Please wait...{{ " " }}
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>
  </div>

</form>


<!-- end::Exolore drawer -->