<div class="contains">
    <div class="row mb-4">
        <div class="col-md-3" style="display: flex; height: 40px;white-space:nowrap;margin-bottom: 8px;">
            <label class="col-form-label fw-bold fs-6" style="margin-right: 10px;"><span>From Date:</span></label>
            <input type="date" class="form-control form-control-lg " placeholder="Start Date" />
        </div>

        <div class="col-md-3 " style="display: flex; height: 40px; white-space:nowrap;margin-bottom: 8px; ">
            <label class="col-form-label  fw-bold fs-6" style="margin-right: 20px;">To Date: </label>
            <input  type="date" class="form-control form-control-lg " placeholder="End Date" />
        </div>

        <div class="col-md-6" style="display: flex; height: 60px;white-space:nowrap;margin-bottom: 8px;">
            <input  type="text" class="form-control form-control-lg " style="height: 40px;"
                placeholder="Search with pr no/DEPARTMENT" />
            <button class="btn btn-lg fw-bold  btn-primary" style="margin-left:8px;height: 45px; ">Search</button>
        </div>

    </div>
</div>



<div class="card">
    <div class="card-header">
        <!--begin::Card title-->
        <div class="card-title">
            <h2 class="fw-bold">Min/Max PR</h2>
        </div>
        <!--begin::Card title-->

        <!--begin::Card toolbar-->
        <div class="card-toolbar">
            <div class="m-0">
                <!--begin::Menu toggle-->
                <a href="#" class="btn btn-sm btn-secondary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                   <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                   <span class="svg-icon svg-icon-6 svg-icon-muted me-1">
                      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor"></path>
                      </svg>
                   </span>
                   <!--end::Svg Icon-->               
                   Filter
                </a>
                <!--end::Menu toggle-->
                <!--begin::Menu 1-->
                <div class="menu menu-sub menu-sub-dropdown w-250px w-md-500px" data-kt-menu="true" id="kt_menu_6406db15e3930">
                   <!--begin::Header-->
                   <div class="px-7 py-5">
                      <div class="fs-5 text-dark fw-bold">Filter By</div>
                   </div>
                   <!--end::Header-->
                   <!--begin::Menu separator-->
                   <div class="separator border-gray-200"></div>
                   <!--end::Menu separator-->
                   <!--begin::Form-->
                   <div class="px-7 py-5">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label fw-bold fs-6">From:</label>
                            <input type="date" class="form-control form-control-lg " placeholder="Start Date" />
                        </div>
                
                        <div class="col-md-6">
                            <label class="col-form-label  fw-bold fs-6">To:</label>
                            <input type="date" class="form-control form-control-lg " placeholder="End Date" />
                        </div>
                    </div>
                   </div>
                   
                   <div class="px-7 py-5">
                      <!--begin::Input group-->
                      <div class="mb-10">
                         <!--begin::Label-->
                         <label class="form-label fw-semibold">PR No.:</label>
                         <!--end::Label-->
                         <!--begin::Input-->
                         <div>
                            <select class="form-select form-select-solid select2-hidden-accessible" data-kt-select2="true" data-placeholder="Select option" data-dropdown-parent="#kt_menu_6406db15e3930" data-allow-clear="true" data-select2-id="select2-data-7-klo7" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                               <option data-select2-id="select2-data-9-9ohn"></option>
                               <option value="1">Approved</option>
                               <option value="2">Pending</option>
                               <option value="2">In Process</option>
                               <option value="2">Rejected</option>
                            </select>
                            <span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-8-nx81" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-j0x6-container" aria-controls="select2-j0x6-container"><span class="select2-selection__rendered" id="select2-j0x6-container" role="textbox" aria-readonly="true" title="Select option"><span class="select2-selection__placeholder">Select option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                         </div>
                         <!--end::Input-->
                      </div>
                      <!--end::Input group-->
                      <!--begin::Input group-->
                      <div class="mb-10">
                             <!--begin::Label-->
                         <label class="form-label fw-semibold">Department:</label>
                         <!--end::Label-->
                         <!--begin::Input-->
                         <div>
                            <select class="form-select form-select-solid select2-hidden-accessible" data-kt-select2="true" data-placeholder="Select option" data-dropdown-parent="#kt_menu_6406db15e3930" data-allow-clear="true" data-select2-id="select2-data-7-klo7" tabindex="-1" aria-hidden="true" data-kt-initialized="1">
                               <option data-select2-id="select2-data-9-9ohn"></option>
                               <option value="1">Approved</option>
                               <option value="2">Pending</option>
                               <option value="2">In Process</option>
                               <option value="2">Rejected</option>
                            </select>
                            <span class="select2 select2-container select2-container--bootstrap5" dir="ltr" data-select2-id="select2-data-8-nx81" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single form-select" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-j0x6-container" aria-controls="select2-j0x6-container"><span class="select2-selection__rendered" id="select2-j0x6-container" role="textbox" aria-readonly="true" title="Select option"><span class="select2-selection__placeholder">Select option</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                         </div>
                         <!--end::Input-->
                      </div>
                      <!--end::Input group-->
                      <!--begin::Actions-->
                      <div class="d-flex justify-content-end">
                         <button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2" data-kt-menu-dismiss="true">Reset</button>
                         <button type="submit" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">Apply</button>
                      </div>
                      <!--end::Actions-->
                   </div>
                   <!--end::Form-->
                </div>
                <!--end::Menu 1-->        
             </div>
        </div>
        <!--end::Card toolbar-->
    </div>
    <div class="card-body">
        <kendo-grid class="fixed-header" [columnMenu]="{ filter: true ,sort : true  }" [groupable]="true"
            [data]="gridView" [group]="state.group" [filter]="state.filter" [filterable]="false" [reorderable]="true"
            [resizable]="true" [skip]="state.skip" [pageSize]="pageSize" [pageable]="true"
            (dataStateChange)="onStateChange($event)" [sortable]="{
        allowUnsort: true,           mode: 'multiple' }" [sort]="state.sort" (dataStateChange)="onStateChange($event)" >
        <ng-template kendoGridToolbarTemplate>
            <div class="excel-export">
                <button type="button" kendoGridExcelCommand class="btn btn-primary btn-sm" icon="file-excel">Export
                    to Excel</button>
            </div>
        </ng-template>
            <kendo-grid-column field="prid" title="SR NO" [width]="columnWidth" [headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    {{rowIndex+1}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Site" title="SITE" [width]="columnWidth"[headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.site}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Warehouse" title="WAREHOUSE" [width]="columnWidth"[headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.warehouse}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Buyer_Group" title="BUYER GROUP" [width]="columnWidth"[headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.buyerGroup}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Item_Group" title="ITEM GROUP" [width]="columnWidth"[headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.itemGroup}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="PPO_No" title="PPO NUMBER" [width]="columnWidth"[headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.ppoNo}}
                </ng-template>
            </kendo-grid-column>
            <!-- <kendo-grid-column field="PROJECT_NAME" title="PROJECT ID" [width]="columnWidth"></kendo-grid-column> -->
            <kendo-grid-column field="PPO_Date" title="PPO DATE" [width]="columnWidth"[headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.ppoDate}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Item_Code" title="ITEM CODE" [width]="columnWidth"[headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                    
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Item_Description" title="ITEM DESCRIPTION"
                [width]="columnWidth"[headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                   
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Config" title="CONFIG" [width]="columnWidth"[headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                    {{dataItem.config}}
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="UOM" title="UOM" [width]="columnWidth"[headerClass]="headerStyle">
                <ng-template kendoGridCellTemplate let-dataItem>
                  
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="Min_Order_Qty" title="MIN ORDER QTY" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Max_Order_Qty" title="MAX ORDER QTY" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="On_Hand_Qty_in_Main_Store_Warehouse" title="ON HAND QTY IN MAIN STORE WAREHOUSE"
                [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Required_Qty" title="REQUIRED QTY" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="On_Hand_Qty_in_Other_Store_Warehouse" title="ON HAND QTY IN OTHER STORE WAREHOUSE"
                [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Pending_PO" title="PENDING PO" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="PO_In_Process" title="PO IN PROCESS" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="In_Process_PR" title="IN PROCESS PR" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="NetOrder_Qty" title="NET ORDER QTY" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Ordered_Qty" title="ORDER QTY" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Order_Qty" title="PENDING PR" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Pending_PR" title="PR INTERVIEW" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="PR_InReview" title="LAST PURCHASE PRICE"
                [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Last_Purchase_Price" title="PO AMOUNT" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="PPO_Amount" title="LAST PO NO" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Last_PO_No" title="LAST PO DATE" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Vendor_Name" title="VENDOR NAME" [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
            <kendo-grid-column field="Total_Consumption_for_365_days" title="TOTAL CONSUMPTION FOR 365 DAYS"
                [width]="columnWidth"[headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-excel pages fileName="PR.xlsx" [fetchData]="allData"></kendo-grid-excel>
        </kendo-grid>
    </div>
</div>


<div class="modal bg-white fade" tabindex="-1" id="kt_modal_2">
    <div class="modal-dialog modal-fullscreen p-9">
        <div class="modal-content shadow-none">
            <div class="modal-header">
                <h5 class="modal-title">PR Line Item for PR :PR23014419</h5>

                <!--begin::Close-->
                <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal"
                    aria-label="Close">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                </div>
                <!--end::Close-->
            </div>

            <div class="modal-body">
                <app-pr-modal-view></app-pr-modal-view>
            </div>
        </div>
    </div>
</div>