<!----------------------->
<!----------------------->
<!-- Page Title starts -->
<!----------------------->
<!----------------------->
<div id="kt_app_toolbar" class="app-toolbar  py-3 py-lg-6 ">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="container-xxl d-flex flex-stack px-0">
       <!--begin::Page title-->
       <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3 ">
          <!--begin::Title-->
          <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
             Min/Max pending PR
          </h1>
          <!--end::Title-->
       </div>
       <!--end::Page title-->
       <!--begin::Actions-->
       <div class="d-flex align-items-center gap-2 gap-lg-3">
          
         
          <!--begin::Primary button-->
          <!-- <a href="#" class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">
          Create        </a> -->
          <!--end::Primary button-->
       </div>
       <!--end::Actions-->
    </div>
    <!--end::Toolbar container-->
 </div>

<!----------------------->
<!----------------------->
<!-- Page Title ends -->
<!----------------------->
<!----------------------->



<div class="card">
    
    <div class="card-body ">
        <!-- <div *ngIf="loading" class="item">
            <ngx-skeleton-loader count="10" [theme]="{ 'border-radius': '0', height: '30px' }"></ngx-skeleton-loader>
        </div> -->

        <kendo-grid class="fixed-header" [loading]="loading" [columnMenu]="{ filter: true ,sort : true  }"
            [groupable]="true" [data]="gridView" [group]="state.group" [filter]="state.filter" [filterable]="false"
            [reorderable]="true" [resizable]="true" [skip]="state.skip" [pageSize]="pageSize" [pageable]="true"
            (dataStateChange)="onStateChange($event)" [sortable]="{
        allowUnsort: true,           mode: 'multiple' }" [sort]="state.sort" (dataStateChange)="onStateChange($event)">
            <ng-template kendoGridToolbarTemplate>
                <div class="excel-export">
                    <button type="button" kendoGridExcelCommand class="btn btn-light-primary btn-sm" icon="file-excel">Export
                        to Excel</button>
                </div>
            </ng-template>
            <!-- <kendo-grid-column [headerClass]="headerStyle" [filterable]="false" field="sno" title="SR NO" [width]="110">
            </kendo-grid-column> -->
                <kendo-grid-column field="sno"      title="SR NO" [width]="100">     <ng-template kendoGridCellTemplate
                    let-rowIndex="rowIndex">        {{rowIndex+1}}     </ng-template>   
            </kendo-grid-column>
            <kendo-grid-command-column [headerClass]="headerStyle" title="ACTIONS" [width]="110">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container>
                        <div ngbDropdown autoClose="'outside'" container="body">
                            <!-- <button ngbDropdownToggle class="btn btn-sm cs-btn-outline-primary px-2 py-1" type="button"
                                data-bs-auto-close="outside">
                                <i class="fa fa-cog"></i> Actions
                            </button>

                            <ul class="dropdown-menu" ngbDropdownMenu>
                                <li *ngFor="let value of dropdownListdata" ngbDropdownItem>
                                    <a (click)="onModelClick(value,item);" class="dropdown-item pt-0 pb-0 mt-0 mb-0">
                                        {{value}}
                                    </a>
                                </li>
                            </ul> -->
                            <div class="col-md-3 form-check form-check-custom d-flex flex-1 justify-content-center align-middle"
                                style="display: flex; height: 40px;white-space:nowrap;margin-bottom: 8px; align-items: center; justify-content: center;">
                                <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" />
                            </div>
                        </div>
                        <!-- <button class="btn btn-sm fw-bold  btn-primary">Action</button> -->

                    </ng-container>
                </ng-template>
            </kendo-grid-command-column>

            <kendo-grid-command-column [headerClass]="headerStyle" title="STOCK" [width]="columnWidth">
                <ng-template kendoGridCellTemplate let-item>
                    <ng-container>
                        <a (click)="onModelClick('Hand', item);"
                            class="link-primary text-decoration-underline text-center">On Hand</a>
                    </ng-container>
                </ng-template>
            </kendo-grid-command-column>
            <!-- <kendo-grid-column [headerClass]="headerStyle" field="prid" title="PR NO" [width]="columnWidth"></kendo-grid-column> -->
            <kendo-grid-column [headerClass]="headerStyle" field="siteId" title="SITE" [width]="longColumnWidth">
            </kendo-grid-column>
            <!-- <kendo-grid-column [headerClass]="headerStyle" field="CREATION_DATE" title="CREATED DATE" [width]="130"></kendo-grid-column> -->
            <kendo-grid-column [headerClass]="headerStyle" field="warehouse" [width]="220" title="WAREHOUSE">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="buyerGroup" [width]="220" title="BUYER GROUP">

            </kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="ppoNo" title="PPO NO"
                [width]="columnWidth"></kendo-grid-column>
            <!-- <kendo-grid-column [headerClass]="headerStyle" field="PROJECT_NAME" title="PROJECT ID" [width]="columnWidth"></kendo-grid-column> -->
            <kendo-grid-column [headerClass]="headerStyle" field="ppoDate" title="PPO DATE"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="itemId" title="ITEM CODE" [width]="columnWidth">
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="preparer" title="ITEM DESCRIPTION"
                [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="config" title="CONFIG"
                [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="uom" title="UOM"
                [width]="columnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="minOrderQty" title="MIN ORDER QTY"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="maxOrderQty" title="MAX ORDER QTY"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="reqQuantity" title="REQUIRED QTY"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="poInProcess" title="PENDING PO"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="poInProcess" title="PO IN PROCESS"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="poInProcess" title="IN PROCESS PR"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="netOrderQty" title="NETORDER QTY"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="" title="ORDERED QTY"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="orderQty" title="ORDER QTY"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="departmentName" title="PENDING PR"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="prInReview" title="PR INREVIEW"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="lastPurchasePrice" title="LAST PURCHASE PRICE"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="ppoId" title="LAST PO NO."
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="ppoNo" title="LAST PO DATE"
                [width]="longColumnWidth"></kendo-grid-column>
            <kendo-grid-column [headerClass]="headerStyle" field="totalConsumption365Days"
                title="TOTAL CONSUMPTION FOR 365 DAYS" [width]="longColumnWidth"></kendo-grid-column>


            <!-- <kendo-grid-column [headerClass]="headerStyle" field="BUYERSTATUS" title="HISTORY"
                [width]="columnWidth"></kendo-grid-column> -->
            <kendo-grid-excel pages fileName="PR.xlsx" [fetchData]="allData"></kendo-grid-excel>
        </kendo-grid>
    </div>
</div>