.modal-dialog-centered {
  max-width: 463px !important;
}
.error-message-div p {
  font-size: 1.125rem;
  font-weight: 500;
  color: #101828ff;
  margin-bottom: 0px;
  .error-message-div p img {
    color: #f04438ff;
  }
}
.error-message-div img {
  font-size: 0.75rem;
  font-weight: 400;
  color: #667085ff;
}
.custom-dialog-modal {
  --bs-modal-margin: 0px !important;
}
.custom-modal-class {
  border: 0px !important;
}
/* modal dialog mobile */
.modal-dialog-mobile .modal-content {
  position: relative;
  bottom: auto;
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
}
.modal-dialog-mobile .btn-row-mobile {
  display: none;
}
.modal-dialog-mobile .modal-content {
  background: transparent !important;
}
.modal-dialog-mobile .modal-body .custom-mobile-modal-body {
  background: transparent;
  padding: 0;
  border-radius: 0;
}
.modal-dialog-mobile .modal-body .custom-mobile-modal-body svg.error path {
  stroke: #b42318ff !important;
}
@media (max-width: 991.98px) {
  .modal-dialog-mobile .modal-body {
    background: transparent;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .modal-dialog-mobile .modal-body .custom-mobile-modal-body {
    background: #f9fafbff;
    padding: 1.25rem 0.85rem 1.25rem 0.85rem !important;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem !important;
  }
  .modal-dialog-mobile {
    // margin-left: 1.25vw !important;
    // margin-right: 1.25vw !important;
    bottom: 5% !important;
    width: 100% !important;
    // max-width: 100% !important;
    border-radius: 8px;
    z-index: 9999;
    position: fixed !important;
  }
  .modal-dialog-mobile .btn-row-desktop {
    display: none;
  }
  .modal-dialog-mobile .btn-row-mobile {
    display: block;
    bottom: 3vh;
    left: 12vw !important;
    right: 12vw !important;
  }
  .modal-dialog-mobile .btn-row-mobile button {
    margin: 10px 0px 0px 0px;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .modal-dialog-mobile {
    // margin-left: 2vw !important;
    // margin-right: 2vw !important;
    bottom: 5% !important;
    width: 99.5% !important;
    // max-width: 100% !important;
    border-radius: 8px;
    z-index: 9999;
    position: fixed !important;
  }
  .modal-dialog-mobile .modal-body {
    background: transparent;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    position: fixed;
    bottom: 0;
    width: 99.5%;
  }
}
.modal-dialog-centered.custom-dialog-modal p {
  margin-bottom: 8px !important;
}

.btn-row-desktop {
  margin-left: 7px;
  margin-right: 7px;
}

.cs-alert-subtitle-fw-700 {
  font-weight: 700;
}

.alert-title {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: Raleway-Medium;
  // color: $primary-700;
  color: #005693ff;
}

/* End */

.delete-btn {
  box-sizing: border-box;
  padding: 10px 16px;
  background: #b42318;
  border: 1px solid #f04438;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
  width: 100%;
}

.cs-btn-cancel {
  font-family: Raleway-Medium;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #344054;
  background: white;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  line-height: 24px;
  width: 100%;
}

.cs-alert-title {
  font-family: "Raleway-Medium";
  color: #101828;
  font-size: 1.4rem !important;
  line-height: 28px;
}
.cs-alert-sub-title {
  font-family: "Raleway-Regular";
  color: #667085;
  font-size: 1.1rem !important;
  line-height: 20px;
}

@media (max-width: 991.98px) {
  .modal-dialog-mobile .modal-body {
    background: transparent;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .modal-dialog-mobile .modal-body .custom-mobile-modal-body {
    background: #ffffff;
    padding: 1.25rem 0.85rem 1.25rem 0.85rem !important;
    border-radius: 0.5rem;
    margin-bottom: 0.25rem !important;
  }
  .modal-dialog-mobile {
    // margin-left: 1.25vw !important;
    // margin-right: 1.25vw !important;
    bottom: 5% !important;
    width: 100% !important;
    // max-width: 100% !important;
    border-radius: 8px;
    z-index: 9999;
    position: fixed !important;
  }
  .modal-dialog-mobile .btn-row-desktop {
    display: none;
  }
  .modal-dialog-mobile .btn-row-mobile {
    display: block;
    bottom: 3vh;
    left: 12vw !important;
    right: 12vw !important;
  }
  .modal-dialog-mobile .btn-row-mobile button {
    margin: 10px 0px 0px 0px;
    width: 100%;
  }
}

@media (max-width: 576px) {
  .modal-dialog-mobile {
    // margin-left: 2vw !important;
    // margin-right: 2vw !important;
    bottom: 5% !important;
    width: 99.5% !important;
    // max-width: 100% !important;
    border-radius: 8px;
    z-index: 9999;
    position: fixed !important;
  }
  .modal-dialog-mobile .modal-body {
    background: transparent;
    padding-left: 0.75rem !important;
    padding-right: 0.75rem !important;
    position: fixed;
    bottom: 0;
    width: 99.5%;
  }
}
.modal-dialog-centered.custom-dialog-modal p {
  margin-bottom: 8px !important;
}


.cs-alert-subtitle-fw-700{
  font-weight: 700;
}
.btn-row-desktop {
  margin-left: 7px;
  margin-right: 7px;
}

.modal-content{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  
  pointer-events: auto;
  background-clip: padding-box;
}