<div class="container-fluid overflow-auto">
    <div class="card mb-5 mb-xl-10">
        <div class="card-header cursor-pointer" role="button" data-bs-target="#kt_account_profile_details"
            aria-expanded="true" aria-controls="kt_account_profile_details">
            <div class="card-title m-0">
                <h3 class="fw-bolder m-0">PR Status</h3>
            </div>
            <div class="card-title m-0" (click)="closeModel()">
                <span class="justify-content-center " [inlineSVG]="'../../../../assets/media/wonder/cross.svg'"></span>
            </div>
        </div>
        <div class="card-body">
            <kendo-grid class="fixed-header" [loading]="isLoading" [columnMenu]="{ filter: true ,sort : true  }" [groupable]="true"
                [data]="gridView" [group]="state.group" [filter]="state.filter" [filterable]="false"
                [reorderable]="true" [resizable]="true" [skip]="state.skip" [pageSize]="pageSize" [pageable]="true"
                (dataStateChange)="onStateChange($event)" [sortable]="{
        allowUnsort: true,           mode: 'multiple' }" [sort]="state.sort" (dataStateChange)="onStateChange($event)">


                <kendo-grid-column field="round" title="SITE" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-column field="pR_No" title="ITEM" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
              
                <kendo-grid-column field="pR_Description" title="CONFIG" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-column field="wF_No" title="WAREHOUSE" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-column field="level" title="LOCATION" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-column field="required_By" title="STOCK" [width]="columnWidth"
                    [headerClass]="headerStyle"></kendo-grid-column>
                <kendo-grid-column field="assigned_Date" title="COSUME" [width]="columnWidth"
                    [headerClass]="headerStyle">
                </kendo-grid-column>
              
            </kendo-grid>
        </div>

    </div>

</div>