<div class="card-body pt-0">
<div class="container-fluid overflow-auto p-0">

    <!-- <div class="" role="button" aria-expanded="true" aria-controls="kt_account_profile_details">
      
    </div> -->
    <div class="card-header border-0 cursor-pointer border-radius-0 bg-light-danger" role="button" data-bs-target="#kt_account_profile_details"
        aria-expanded="true" aria-controls="kt_account_profile_details">
        <div class="card-title m-0">
            <h2 class="fw-semibold me-3 my-1 text-primary">Purchase Requisition Header</h2>
        </div>
    </div>
    <div class="separator separator-dashed mt-0 mb-5"></div>
    <div class="">
        <!-- <div class="card-title m-0">
                <h3 class="fw-bolder m-0">Purchase Requisition Header</h3>
            </div> -->
        <div id="kt_account_profile_details" class="collapse show">
            <form class="form">
                <div class="row mb-5">


                    <div class="col-md-4 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Site</span></label>
                        <input disabled type="text" class="form-control form-control-lg "
                            value="110 - Badnawar-Grinding Unit" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">PR Number </label>
                        <input disabled type="text" class="form-control form-control-lg " value="PR23014419" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Pr Type</span></label>
                        <input disabled type="text" class="form-control form-control-lg " value='Revenue Supply' />
                    </div>




                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Pr Sub Type</label>
                        <input disabled type="text" class="form-control form-control-lg " value="General"
                            name="company" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Request (Created)
                                Date</span></label>
                        <input disabled type="text" class="form-control form-control-lg " value="09/02/2023"
                            name="contactPhone" v />
                    </div>
                    <div class="col-md-4 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Project Id</label>
                        <input disabled type="text" class="form-control form-control-lg " name="company" />
                    </div>




                    <div class="col-md-8 mb-4">
                        <label class="col-form-label fw-bold fs-6"><span>Pr
                                Name/Description</span></label>
                        <input disabled type="tel" value="Load Unload valve and Kit required for Compressor."
                            class="form-control form-control-lg " name="contactPhone" />
                    </div>




                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>TEFR ID</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Consumption Date</label>
                        <input disabled type="text" class="form-control form-control-lg " value="10/03/2023"
                            name="company" />
                    </div>



                    <div class="col-md-8 mb-4">
                        <label class="col-form-label fw-bold fs-6"><span>Business Justification -
                                Details</span></label>
                        <textarea type="" class="form-control form-control-lg " name="contactPhone"></textarea>
                    </div>


                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Work Order
                                Number</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Total Value</label>
                        <input disabled type="text" class="form-control form-control-lg " value="20000.00"
                            name="company" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Status</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " value="Approved"
                            name="contactPhone" />
                    </div>



                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Requester</label>
                        <input disabled type="text" class="form-control form-control-lg " value="Arpit Nagar"
                            name="company" />
                    </div>
                    <div class="col-md-4 mb-4">
                        <label class="col-form-label fw-bold fs-6"><span>Department</span></label>
                        <input disabled type="tel" class="form-control form-control-lg "
                            value="2331 - Electrical & Instrumentation" name="contactPhone" />
                    </div>


                    <div class="row mb-auto">
                        <div class="col-md-12">
                            <label class="col-form-label   fw-bold fs-6">Attachment</label>
                            <!-- <div class="d-flex flex-row">
                                <div class="form-control form-control-lg rounded-end-0">
                                    File Name :
                                </div>
                                <div style="border-left-color: #ffffff;"
                                    class="form-control form-control-lg rounded-start-0   ">
                                    Remarks :
                                </div>
                            </div> -->
                            <div class="table-responsive">
                                <table class="table table-striped table-striped border gy-7 gs-7">
                                    <thead>
                                        <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                            <th class="min-w-200px text-primary py-2">File Name</th>
                                            <th class="min-w-400px text-primary py-2">Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="py-2">Order info</td>
                                            <td class="py-2">Download PDF</td>
                                        </tr>
                                        <tr>
                                            <td class="py-2">Payment info</td>
                                            <td class="py-2">Download PDF</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <!-- Purchase Requisition Line start -->




    <div class="card-header border-0 cursor-pointer border-radius-0 bg-light-danger" role="button" data-bs-target="#kt_account_profile_details"
        aria-expanded="true" aria-controls="kt_account_profile_details">
        <div class="card-title m-0">
            <h2 class="fw-semibold me-3 my-1 text-primary">Purchase Requisition Line</h2>
        </div>
    </div>
    <div class="separator separator-dashed mt-0 mb-5"></div>
    <div class="">

        <div id="kt_account_profile_details" class="collapse show">
            <form class="form">
                <div class="row">

                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Item ID</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " value="100053032"
                            name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Pending PO :</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " name="contactPhone" />
                    </div>
                    <div class="col-md-4 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Pending PR :</span></label>
                        <input disabled type="tel" class="form-control form-control-lg "
                            value="KIT,COMPRESSOR REPAIR;MAINTENANCE OF AUX.VALVE;PN:400940.2" name="contactPhone" />
                    </div>



                    <div class="col-md-4 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>In Process PR
                                :</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Available Stock
                                :</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Stock In Other WareHouse
                                :</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " name="contactPhone" />
                    </div>


                    <div class="col-md-8 mb-4">
                        <label class="col-form-label fw-bold fs-6"><span>Product
                                Description</span></label>
                        <input disabled type="tel" class="form-control form-control-lg "
                            value="KIT, COMPRESSOR REPAIR; TYPE: MAINTENANCE OF AUX.VALVE; MANUFACTURER PART NO: 400940.2, MANUFACTURER: KAESER"
                            name="contactPhone" />
                    </div>

                    <div class="col-md-12 mb-4">
                        <label class="col-form-label fw-bold fs-6"><span>Product Long
                                Description</span></label>
                        <textarea type="" class="form-control form-control-lg "
                            value="KIT, COMPRESSOR REPAIR; TYPE: MAINTENANCE OF AUX.VALVE; MANUFACTURER PART NO: 400940.2, MANUFACTURER: KAESER"
                            name="contactPhone"></textarea>
                    </div>

                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Status</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " value="Approved"
                            name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">No of ManPower </label>
                        <input disabled type="text" class="form-control form-control-lg " value="0" name="company" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Quantity</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " value="1.000"
                            name="contactPhone" />
                    </div>


                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">UOM</label>
                        <input disabled type="text" class="form-control form-control-lg " value="NOS" name="company" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Unit Price</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " value="5000.00"
                            name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Net Amount</label>
                        <input disabled type="text" class="form-control form-control-lg " value="5000.00"
                            name="company" />
                    </div>


                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Last Purchase
                                Price</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " value="2000.00"
                            name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>
                                Currency</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " value="INR"
                            name="contactPhone" />
                    </div>


                    <div class="col-md-8 mb-4">
                        <label class="col-form-label  fw-bold fs-6">Remark</label>
                        <input disabled type="text" class="form-control form-control-lg " name="company" />
                    </div>


                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Consumption Date</label>
                        <input disabled type="text" class="form-control form-control-lg " name="company" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Delivery
                                Name</span></label>
                        <input disabled type="tel" class="form-control form-control-lg "
                            value="Madhya Pradesh - Grinding Unit" name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Procument
                            Category</label>
                        <input disabled type="text" class="form-control form-control-lg " value="General"
                            name="company" />
                    </div>

                    <div class="col-md-4 mb-4">
                        <label class="col-form-label fw-bold fs-6"><span>Delivery
                                Address</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " value="Madhya Pradesh"
                            name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">State</label>
                        <input disabled type="text" class="form-control form-control-lg " name="company" />
                    </div>

                    <div class="col-md-12 mb-4">
                        <label class="col-form-label fw-bold fs-6"><span>Business Justification -
                                Details</span></label>
                        <textarea type="" class="form-control form-control-lg " value="'PR submitted for your kind approval of Load Unload valve and Kit required for Kaeser air compressor. we need to  Installed Valve set 6 no's against one spare.
                                1 no's valve diaphragm damaged " name="contactPhone"></textarea>
                    </div>



                    <div class="col-md-4 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Attention
                                information</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Project ID</label>
                        <input disabled type="text" class="form-control form-control-lg " name="company" />
                    </div>

                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Ledger Account </label>
                        <input disabled type="text" class="form-control form-control-lg " name="company" />
                    </div>

                    <div class="col-md-2 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>GLA</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " name="contactPhone" />
                    </div>
                    <div class="col-md-2 mb-1">
                        <label class="col-form-label  fw-bold fs-6">TEFR ID </label>
                        <input disabled type="text" class="form-control form-control-lg " name="company" />
                    </div>



                    <div class="col-md-3 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Business
                                unit</span></label>
                        <input disabled type="tel" class="form-control form-control-lg "
                            value="110 - Badnawar-Grinding Unit" name="contactPhone" />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label  fw-bold fs-6">
                            Cost Center
                        </label>
                        <input disabled type="text" class="form-control form-control-lg "
                            value="3231INSLN001 - Instrumentation-Polab" name="company" />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Cost Center
                                Group</span></label>
                        <input disabled type="tel" class="form-control form-control-lg "
                            value="3231 - Maintenance-Services-Instrumentation" name="contactPhone" />
                    </div>




                    <div class="col-md-3 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Department</label>
                        <input disabled type="text" class="form-control form-control-lg "
                            value="2331 - Electrical & Instrumentation" name="company" />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Inventory
                                Site</span></label>
                        <input disabled type="tel" class="form-control form-control-lg "
                            value="110 - Badnawar-Grinding Unit" name="contactPhone" />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label  fw-bold fs-6">invetory
                            warehouse</label>
                        <input disabled type="text" class="form-control form-control-lg " value="KAESER"
                            name="company" />
                    </div>


                    <div class="col-md-3 mb-1">
                        <label class="col-form-label fw-bold fs-6"><span>Inventory item
                                Configuration</span></label>
                        <input disabled type="tel" class="form-control form-control-lg " value="KAESER"
                            name="contactPhone" />
                    </div>
                    <div class="col-md-3 mb-1">
                        <label class="col-form-label  fw-bold fs-6">Inventory warehouse
                            location</label>
                        <input disabled type="text" class="form-control form-control-lg " name="company" />
                    </div>


                    <div class="row mb-auto">
                        <div class="col-md-12">
                            <label class="col-form-label   fw-bold fs-6">Attachment</label>
                            <!-- <div class="d-flex flex-row">
                                <div class="form-control form-control-lg">
                                    File Name :
                                </div>
                            </div> -->
                            <div class="table-responsive">
                                <table class="table table-striped table-striped border gy-7 gs-7">
                                    <thead>
                                        <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                                            <th class="min-w-200px text-primary py-2">File Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="py-2">Order info</td>
                                        </tr>
                                        <tr>
                                            <td class="py-2">Payment info</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>
</div>